@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    display: absolute;

    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-image: url("backgrounda.png");
    background-color: #cccccc;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
}

.text{
    margin-top: 20px;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

.text-cu{
    display: flex;
    background: rgba(70, 70, 70, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.euteamo{
    color: #ff0000;
}
